.header__lang-link {
  margin: 0 18px 0 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  color: #FFF;
}
.header__lang-link:last-child {
  margin: 0;
}

@media (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}