.header__lang-link {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
  transition: 0.4s;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}