.place__title {
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}

@media (max-width: 868px) {
  .place__title {
    max-width: 330px;
    font-size: 42px;
    line-height: 46px;
  }
}
@media (max-width: 425px) {
  .place__title {
    padding: 0 16px;
    font-size: 32px;
    line-height: 35px;
  }
}