.cover__description {
  max-width: 560px;
  position: relative;
  text-align: center;
  color: #FFF;
  align-self: center;
  justify-self: center;
}
@media (max-width: 320px) {
  .cover__description {
    max-width: 288px;
  }
}