.cover__subtitle {
  margin: 0 auto;
  max-width: 360px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

@media (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}