.cover__container {
  display: block;
}
.cover__container::before {
  content:"";
    display: block;
  width: 100%;
  padding-bottom: 62.5%;
  background: #2a2c2f;
  opacity: 0.3;
  position: absolute;
}
.cover__container:hover:before {
  opacity: 0.8;
}