.footer__link {
  color: #FFF;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.footer__link:hover {
  opacity: 0.8;
}

@media (max-width: 425px) {
  .footer__link {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
  }
}