.place__paragraph {
  grid-column: 2;
}

.place__paragraph p {
  margin: 0 0 26px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}

.place__paragraph p:last-child {
  margin: 0;
}

@media (max-width: 868px) {
  .place__paragraph p {
    font-size: 16px;
    line-height: 26px;
  }
}