.place__paragraph {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}

@media (max-width: 868px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 425px) {
  .place__paragraph {
    margin: 0 16px;
  }
}