.places__card {
  margin: 0 0 80px 0;
}

.places__card:last-child {
  margin: 0;
}

@media (max-width: 868px) {
  .places__card {
    margin: 0 0 72px 0;
  }
}
@media (max-width: 684px) {
  .places__card {
    margin: 0 0 50px 0;
  }
}