.lead__subtitle {
  max-width: 640px;
  margin: 0 auto 64px auto;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

@media (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 auto 56px auto;
  }
}