@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/body/body.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_active/header__lang-link_active.css);

@import url(../blocks/container/container.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__content/intro__content.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__title/intro__title.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/photo-grid/__items/photo-grid__items.css);

@import url(../blocks/places/places.css);
@import url(../blocks/places/__cards/places__cards.css);

@import url(../blocks/place/place.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__website/place__website.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__container/cover__container.css);
@import url(../blocks/cover/__background/cover__background.css);
@import url(../blocks/cover/__description/cover__description.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__title/cover__title.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__link/footer__link.css);

.header__logo {
  max-width: 176px;
  width: 100%;
}
@media (max-width: 320px) {

  .header__logo {
    max-width: 142px;
  }

  .place__title {
    padding: 0 16px;
    font-size: 32px;
    line-height: 35px;
  }

  .place__paragraph {
    padding: 0 16px;
  }

  .place__website {
    padding: 0 16px;
  }

  .place {
    column-gap: 0;
    row-gap: 32px;
    grid-template-columns: minmax(320px, 1fr);
    margin: 0 0 50px 0;
  }

  .lead__title {
    margin: 0 auto 16px auto;
    font-size: 40px;
    line-height: 44px;
  }

  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }

  .footer__links {
    margin: 0;
    flex-direction: column;
    gap: 32px;
  }

  .footer__link {
    margin: 0;
  }

  .footer {
    padding: 64px 24px 24px 16px;
    flex-direction: column;
    gap: 48px;
  }

  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }

  .photo-grid {
    padding: 0 16px 64px 16px;
  }

  .photo-grid__items {
    gap: 12px;
  }

  .intro {
    padding: 0 16px 64px 16px;
  }

  .lead {
    padding: 0 0 64px 0;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .lead__subtitle {
    margin: 0 auto 40px auto;
    font-size: 16px;
    line-height: 20px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}