.photo-grid__items {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  justify-items: center;
  gap: 16px;
  list-style-type: none;
}
.photo-grid__items li {
  display: flex;
}

@media (max-width: 1024px) {
  .photo-grid__items {
    gap: 14px;
  }
}
@media (max-width: 768px) {
  .photo-grid__items {
    gap: 16px;
  }
}