.cover__title {
  margin: 0 0 32px 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}

@media (max-width: 520px) {
  .cover__title {
    margin: 0 0 16px 0;
    font-size: 44px;
    line-height: 48px;
  }
}

@media (max-width: 425px) {
  .cover__title {
    margin: 0 0 16px 0;
    font-size: 32px;
    line-height: 35px;
  }
}